<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>headerlinks}}
    <title>Page Not Found</title>
</head>
<body>
      {{>navbar}}
    <!-------------Main Header------------->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--------------Right side dive--------------->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="images/404.png" alt="Irshad" class="img-fluid imageSize" title="Farooqui">
                        </figure>
                
                        <p>Welcom to the Weather App</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/"><button>Go Back to Home Page</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!----------------------------Footer Code------------------------>
    {{>footer}}
</body>
</html>